body {
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    min-width: 320px;

}

.brand-link {
    display: flex;
    text-decoration: none;
}

.header {


    &__top {
        height: 50px;
        margin: 30px 0 30px;
        display: flex;
        justify-content: space-between;


    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__brand {
        font-size: 27px;
        letter-spacing: 1px;
        line-height: 32px;
        color: #222222;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px 14px;
    }

    &__brand_red {
        color: #f16d7f;
        font-weight: 500;
    }

    &__search-group {
        display: flex;
        height: 42px;
    }

    &__browse {
        background: #f6f6f6;
        border: 1px solid #e6e6e6;
        position: relative;
    }

    &__browse summary {
        font-size: 14px;
        letter-spacing: 0px;
        color: #222222;
        font-weight: 500;
        height: 100%;
        width: 100%;
        padding: 11px 20px 0;
        box-sizing: border-box;
        list-style-type: none;


    }

    &__browse summary::-webkit-details-marker {
        display: none;
    }

    &__browse summary:after {
        margin-left: 5px;
        content: '\25bc';
    }

    &__browse summary:focus {
        outline: none;
    }

    &__browse[open] &__browse_nav {
        background-color: white;
        left: 0px;
        top: 41px;
        position: absolute;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        padding: 0 20px 10px;
        box-sizing: border-box;
    }

    &__browse_nav:before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        top: -7px;
        left: 34px;
        background: white;
        position: absolute;
        transform: rotate(45deg);
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
    }

    &__browse_link {
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 0px;
        color: #222222;
        font-weight: 500;
        padding: 8px 0;

    }

    &__browse_link_group {
        text-transform: uppercase;
        margin: 8px 0;
        border-bottom: 1px solid #e6e6e6;
    }

    &__browse_link:hover {
        color: #f16d7f;
    }

    &__browse:hover {
        background: none;
    }


    &__search-form {
        margin-left: 0;
        display: flex;
    }

    &__search-text {

        font-size: 14px;
        letter-spacing: 0px;
        line-height: 32px;
        color: #a4a4a4;
        font-weight: 300;
        // height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 0;
        padding: 0 18px 0;
        margin-left: -1px;
    }

    &__search-text:focus {
        outline: none;
    }

    &__search-button {
        height: 42px;
        border-radius: 0;
        border: 1px solid #e6e6e6;
        background: none;
        margin-left: -1px;
        background: #f6f6f6;
    }

    &__search-button:focus {
        outline: none;
    }

    &__search-button:hover {
        background: none;
    }

    &__cart {
        margin-right: 10%;
        position: relative;
    }

    &__cart summary {
        height: 100%;
        width: 100%;
        list-style-type: none;
        // padding: 11px 20px 0;
        // box-sizing: border-box;
    }

    &__cart summary::marker {
        display: none;
    }

    &__cart summary::-webkit-details-marker {
        display: none;
    }

    &__cart summary:focus {
        outline: none;
    }

    &__cart[open] &__cart_nav {
        background-color: white;
        right: -30px;
        top: 41px;
        position: absolute;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        padding: 0 20px 10px;
        box-sizing: border-box;
    }

    &__cart_link {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        height: 100px;
    }

    &__cart_link:hover {
        background: #f7f4f4;
    }

    &__cart_photo {
        height: 100%;
    }

    &__cart_product {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e8e8e8;
    }

    &__cart_caption {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 26px;
        color: #222222;
        font-weight: 700;
    }

    &__cart_price {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 26px;
        color: #f16d7f;
        font-weight: 700;
    }

    &__cart_total {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 14px;
        color: #222222;
        font-weight: 700;
        text-decoration: none;
        padding: 10px 0;
    }

    &__cart_go {
        justify-content: center;
        padding: 10px 0;

    }

    &__cart_go:hover {
        background: #e6e6e6;
    }

    &__my-account {
        height: 40px;
        background: #f16d7f;
    }

    &__my-account summary {

        white-space: nowrap;
    }

    &__my-account:hover {
        background: none;
    }

    &__nav {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    &__line {
        border: 1px solid #e6e6e6;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px;
        font-size: 14px;
        line-height: 26px;
        color: #222222;
        font-weight: 900;
    }

    &__link:hover {
        background: #f6f6f6;
    }
}

.slider {
    background: #e8e8e8;
    margin-bottom: 90px;

    &__container {
        background-image: url(../img/top/slider_back.jpg);
        background-repeat: no-repeat;
        height: 600px;
        background-position: center -150px;
        display: flex;
        align-items: center;

    }

    &__text-group {
        display: flex;
        align-items: center;
        // justify-content: space-evenly;
    }

    &__text-group:before {
        content: "";
        width: 12px;
        height: 96px;
        background: #f16d7f;
        margin: 0 20px;
    }

    &__caption_big {
        font-size: 60px;
        letter-spacing: 2px;
        color: #222222;
        font-weight: 900;
        text-transform: uppercase;

    }

    &__caption_small {
        font-size: 40px;
        letter-spacing: 2px;
        color: #222222;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__caption_red {
        color: #f16d7f;
    }
}

.category {
    &__container {
        display: flex;
        margin-bottom: 100px;
        justify-content: space-between;
        height: 800px;

    }

    &__left {
        width: 50%;
        // flex: 1 1 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0.5%;
        // min-width: 320px;

        // justify-content: space-between;


        &_top {
            background-image: url(../img/category/banner1.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            height: 66.666%;
            width: 100%;
        }

        &_bottom {
            background-image: url(../img/category/banner3.jpg);
            height: 33.333%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: cover;

        }
    }

    &__right {
        width: 50%;
        // flex: 1 1 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0.5%;
        // justify-content: space-between;
        // min-width: 320px;

        &_top {
            background-image: url(../img/category/banner2.jpg);
            height: 33.333%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
        }

        &_bottom {
            background-image: url(../img/category/banner4.jpg);
            height: 66.666%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;

        }
    }

    &__item {
        position: relative;
        margin: 1% 0;
    }

    &__item:hover &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(33, 22, 22, 0.7);

    }

    &__badge {
        position: absolute;
        top: 25px;
        left: 1px;
        background: #ffffff;
        padding: 16px;

        &_top {
            font-size: 18px;
            letter-spacing: 0px;
            color: #222222;
            font-weight: 900;
            text-transform: uppercase;
        }

        &_bottom {
            font-size: 30px;
            letter-spacing: 0px;
            color: #f16d7f;
            font-weight: 900;
            text-transform: uppercase;
        }
    }
}


.product {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

    }

    &__caption {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 54px;
        color: #222222;
        font-weight: 700;
    }

    &__desc {
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0px;
        color: #9f9f9f;
        font-weight: 400;
        text-align: center;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        flex: 1 1 22%;
        min-width: 240px;
        // height: 360px;
        position: relative;
        margin: 0.7%;
        // text-decoration: none;
    }

    &__item:hover &__to-cart {
        display: flex;
    }

    &__to-cart {
        position: absolute;
        left: 50%;
        top: 30%;
        width: 120px;
        margin-left: -75px;
        display: none;
        align-items: center;
        text-decoration: none;
        padding: 14px;
        border: 1px solid #ffffff;
        font-size: 13px;
        color: #ffffff;
        // color: #000000;
        font-weight: 700;
        background: #f16d7f;
    }

    &__to-cart:hover {
        background: #3a3838;
    }

    &__to-cart::before {
        content: url(../img/product/add_to_cart.png);
        margin-right: 6px;
    }


    &__link {
        // display: inline-block;
        text-decoration: none;

    }

    &__item_img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        object-position: top;
    }

    &__item:hover &__item-img {
        filter: brightness(50%);
    }

    &__item_caption {
        font-size: 13px;
        color: #222222;
        font-weight: 400;
        text-transform: uppercase;
        margin: 20px 16px;

    }

    &__item_price {
        font-size: 16px;
        color: #f16d7f;
        font-weight: 700;
        margin: 20px 16px;
    }

    &__button {
        display: flex;
        justify-content: center;
        margin: 60px 0 110px;
    }

    &__button-link {
        text-decoration: none;
        padding: 0 20px;
        background: #f16d7f;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 54px;
        color: #ffffff;
        font-weight: 700;
        border: 1px solid #e6e6e6;
    }

    &__button-link:hover {
        background: none;
        color: #222222;
    }

    &__button-link:after {
        content: url(../img/product/button_aarow.png);
        margin-left: 6px;
    }


}

.feature {
    &__container {
        display: flex;
        margin-bottom: 100px;
    }

    &__banner {
        position: relative;
        height: 530px;
        display: inline-block;
        background: url(..//img/feature/main_pic.jpg) no-repeat center top;
        flex: 0 0 65%;
    }

    &__banner:hover {
        background: radial-gradient(circle at 70%, rgba(2555, 255, 255, 0)0%, rgba(34, 34, 36, 1)80%), url(..//img/feature/main_pic.jpg) no-repeat center top;
        flex: 0 0 65%;
    }

    &__header {
        position: absolute;
        z-index: 2;
        left: 24px;
        top: 140px;
        font-size: 54px;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__header-red {
        color: #f16d7f;
    }

    &__header-text {
        font-size: 35px;
    }

    &__box {
        background: #222224;

        flex: 1 0 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &-item {

            display: flex;
            justify-content: space-evenly;
            text-decoration: none;


        }

        &-item:hover {
            box-sizing: border-box;
            background-color: #3a3838;
        }



        &_caption {
            font-size: 20px;
            letter-spacing: 1px;
            // text-decoration: none;
            color: #fbfbfb;
            font-weight: 700;
            margin-bottom: 4%;

        }

        &_text {
            width: 236px;
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 24px;
            color: #fbfbfb;
            font-weight: 300;
            // text-decoration: none;
        }
    }
}

.subscribe {
    background: linear-gradient(rgba(242, 242, 242, 0.5019607843137255), rgba(242, 242, 242, 0.5019607843137255)), url(../img/subscribe/back.jpg) center -50px no-repeat;
    background-size: cover;

    &__container {
        display: flex;
        align-items: center;
        height: 440px;
        justify-content: space-evenly;

        // box-sizing: border-box;

    }

    &__side {
        flex: 0 0 35%;
    }

    &__phrase-group {
        display: flex;
        position: relative;
        // flex: 0 0 50%;
        padding-left: 60px;
    }

    &__phrase-group:before {
        content: '';
        position: absolute;

        left: -50px;
        top: 0;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: url(../img/subscribe/sub.png) no-repeat center -4px;

    }


    &__phrase-top {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 26px;
        color: #222224;
        font-weight: 400;
        font-style: italic;
    }

    &__phrase-author {
        margin-top: 3%;
        font-size: 16px;
        letter-spacing: 0px;
        // line-height: 26px;
        color: #f16d7f;
        font-weight: 700;

    }

    &__phrase-sub {
        font-size: 12px;
        letter-spacing: 0px;
        // line-height: 26px;
        color: #4b4949;
        font-weight: 400;
        margin-bottom: 10%;
    }

    &__line-group {
        width: 35%;
        display: flex;
        justify-content: space-between;
    }

    &__line {
        flex: 0 0 30%;
        height: 4px;
        background: #d6d6d6;
        display: inline-block;
    }

    &__line_selected {
        background: #f16d7f;
    }

    &__caption {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 48px;
        color: #222224;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }

    &__form {
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        align-items: center;



    }

    &__subcaption {
        font-size: 16px;
        letter-spacing: 0px;

        color: #222224;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }

    &__form_group {
        margin-top: 40px;
        width: 100%;
    }

    &__input {
        padding: 18px 20px;
        font-size: 14px;
        letter-spacing: 0px;
        color: #222224;
        font-weight: 400;
        background: #e1e1e1;
        border: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 66%;
        box-sizing: border-box;
        border: 1px solid #e6e6e6;
    }

    &__input:focus {
        outline: none;
    }

    &__button {
        padding: 18px 0;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0px;
        color: #ffffff;
        background: #f16d7f;
        border: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-left: -3px;
        width: 30%;
        box-sizing: border-box;
        border: 1px solid #e6e6e6;
    }

    &__button:hover {
        background: none;
        color: #222222;
    }

    &__button:focus {
        outline: none;
    }
}

.footer {
    margin-top: 120px;

    &__brand {
        &_container {
            display: flex;
        }

        &_desc {
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 24px;
            color: #898989;
            font-weight: 300;
            margin: 15px;
        }

        &_nav {
            flex: 0 0 19%;
            display: flex;
            flex-direction: column;
        }

        &_nav_start {
            flex: 0 0 35%;
            margin-right: 7%;
        }

        &_item_cap {
            font-size: 18px;
            letter-spacing: 0px;
            // line-height: 26px;
            color: #f16d7f;
            font-weight: 700;
            text-transform: uppercase;
            margin: 20px 0;
        }

        &_item {
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 48px;
            color: #898989;
            font-weight: 400;
            text-decoration: none;
            display: inline-block;
        }

    }



    &__copyright {
        margin-top: 90px;
        background: #e6e6e6;
        height: 80px;
    }

    &__copyright_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__left {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 42px;
        color: #7a7a7a;
        font-weight: 400;
    }

    &__social_group {
        display: flex;


    }

    &__social {
        background: #ffffff;
        box-sizing: border-box;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
    }

    &__social:hover {
        background: #f16d7f;
    }
}