$color-red: #f16d7f;
$color-text-products:#636363;

body {
    color: $color-text-products;
}

.bradcrumb {
    height: 145px;
    background: #f8f3f4;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

    }

    &__short {
        font-size: 24px;
        color: $color-red;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__full {
        color: $color-text-products;
        font-weight: 300;
        text-transform: uppercase;

        & span {
            color: $color-red;
            font-weight: 500;
        }
    }
}


.products {
    &__container {
        display: flex;
        margin-top: 50px;

    }

    &__sidebar {
        flex: 0 0 25%;

        &-nav {
            & summary {
                text-transform: uppercase;
                color: $color-red;
                font-weight: 700;
                border-bottom: 1px solid #ebebeb;
                margin: 10px 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &::marker {
                    display: none;
                }

                &::-moz-details-marker {
                    display: none;
                }

                &::-webkit-details-marker {
                    display: none;
                }


                &:before {
                    content: '';
                    width: 5px;
                    height: 40px;
                    background-color: $color-red;
                    margin-right: 10px;
                }

                &:after {
                    content: '\25BC';
                    justify-self: end;
                    margin-left: auto;
                }

            }

            &:focus {
                outline: none;
            }


            &-items {
                display: flex;
                flex-direction: column;

                :hover {
                    font-weight: 700;
                }
            }

            &-link {
                color: #6f6e6e;
                padding: 10px;
                display: inline-block;


            }
        }

    }

    &__group {
        flex: 1 0 75%;
        padding-top: 22px;
        padding-left: 20px;
    }

    &__filter {
        margin: 0 5px;

        &__form {
            display: flex;
            justify-content: space-between;
        }

        &__card {
            flex: 0 0 30%;
            max-width: 30%;

            &_left {
                flex: 0 0 25%;
                max-width: 25%;

            }
        }

        &__header {
            color: #6f6e6e;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        &__body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            color: #6f6e6e;
            padding: 8px 0;

            &_left {
                // padding-left: 15px;


                &:after {
                    content: '';
                    height: 100%;
                    border-right: 2px solid #e8e8e8;
                    padding-left: 15px;
                }

                &:nth-child(3n+1) {
                    padding-left: 0;
                }

                &:nth-child(3n)::after {
                    border-right: none;
                }
            }

            &_center {
                width: 50px;
                display: flex;
                align-items: center;
                margin-right: 5px;

                & input {
                    margin-right: 5px;
                }
            }

            &_multiple {
                width: 100%;
            }



        }
    }

    &__view {
        background: #f3f3f3;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 40px 5px;

        &_group {
            display: flex;
            align-items: center;
            border: 1px solid #d8d8d8;
            width: 200px;
            margin-left: 20px;
        }

        &__sort {

            background: #ffffff;

            padding: 5px 10px;
            border-bottom: 1px solid #ffffff;
            flex-grow: 2;

        }

        & select {
            display: inline-block;
            background: #ffffff;
            border-left: 1px solid #f3f3f3;
            // box-sizing: border-box;
            padding: 3px 10px;
            min-width: 30%;
            color: inherit;




        }
    }

    &__box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__card {
        flex: 0 0 265px;
        max-width: 265px;
        position: relative;
        margin: 0.7%;

        &-link {
            display: flex;
            flex-direction: column;
        }

        &-img {
            display: flex;
            justify-content: center;
            background: #f8f3f4;
            height: 280px;

            & img {
                height: 100%;
                max-width: 100%;
                object-fit: cover;


            }
        }

        &-caption {
            color: #6f6e6e;
            text-transform: uppercase;
            margin: 20px;
        }

        &-price {
            color: $color-red;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            margin: 0 20px 20px;
        }

        &-cart {
            position: absolute;
            top: 100px;
            left: 0;
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;


            &-link {
                padding: 14px;
                border: 1px solid #ffffff;
                border-radius: 5px;
                font-size: 13px;
                color: #ffffff;
                font-weight: 700;
                // background: #3a3838;
                display: flex;
                align-items: center;
                margin-bottom: 7px;


                &::before {
                    content: url(../img/product/add_to_cart.png);
                    margin-right: 6px;
                }

                &:hover {
                    box-shadow: 0 0 20px #ffffff;
                }

                &-row {
                    display: flex;
                    justify-content: space-between;
                }

                &2,
                &3 {
                    width: 47%;
                    display: flex;
                    justify-content: center;
                }

                &2::before {
                    content: url(../img/product/cart2.svg);

                }

                &3::before {
                    content: url(../img/product/cart3.svg);
                }
            }
        }

        &:hover {
            box-shadow: 0 0 5px #d8d8d8;

            & .products__card-cart {
                display: flex;
            }

            & .products__card-img {
                filter: brightness(50%);
            }
        }
    }

    &__pages {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        &__left {
            display: flex;
            border: 1px solid #ebebeb;
            align-items: center;


        }

        &__link {
            padding: 10px 0 10px 20px;
            font-size: 16px;
            color: #8b8b8b;

            &-after {
                padding-right: 20px;
                color: $color-red;
            }

            &-last {
                padding-left: 0;
                // padding-right: 20px;

            }

            &:hover {
                font-weight: 700;
            }

            &_active {
                color: #ef5b70;
            }
        }


        &__view-all {
            font-size: 16px;
            color: $color-red;
            padding: 14px 40px;
            border: 1px solid $color-red;

            &:hover {
                color: #ffffff;
                background: $color-red;
            }
        }
    }
}








.feature {
    // width: 100%;
    background: #222224;

    &__box {
        // background: #222224;
        // flex: 0 0 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        flex-direction: row;
        flex: 0 0 100%;
        height: 340px;
        align-items: center;

        &-item {
            flex-direction: column;
            justify-content: center;

            // display: flex;
            // justify-content: space-evenly;
            // text-decoration: none;
        }

        // &-item:hover {
        //     box-sizing: border-box;
        //     background-color: #3a3838;
        // }
        &_img {
            display: flex;
            justify-content: center;
        }

        &_header {
            margin: 10%;
        }

        &_caption {
            // font-size: 20px;
            // letter-spacing: 1px;
            // // text-decoration: none;
            // color: #fbfbfb;
            // font-weight: 700;
            margin-bottom: 10px;
            text-align: center;

        }

        &_text {
            max-width: none;
            // font-size: 14px;
            // letter-spacing: 0px;
            // line-height: 24px;
            // color: #fbfbfb;
            // font-weight: 300;
            // text-decoration: none;
            text-align: center;
        }
    }
}

.footer {
    margin-top: 0;
}