.body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.brand-link {
    display: flex;
    text-decoration: none;
}

.header {


    &__top {
        height: 50px;
        margin: 30px 0 30px;
        display: flex;
        justify-content: space-between;


    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__brand {
        font-size: 27px;
        letter-spacing: 1px;
        line-height: 32px;
        color: #222222;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px 14px;
    }

    &__brand_red {
        color: #f16d7f;
        font-weight: 500;
    }

    &__search-group {
        display: flex;
    }

    &__button-browse {
        background: #f6f6f6;
        height: 40px;
        padding-left: 20px;
        padding-right: 10px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 32px;
        color: #222222;
        font-weight: 300;
        display: flex;
        align-items: center;
        border: 1px solid #e6e6e6;
    }

    &__button-browse:hover {
        background: none;
    }


    &__button-browse:after {
        content: url(../img/top/search_down.png);
        padding-left: 5px;

    }

    // &__search {}

    &__search-form {
        margin-left: -1px;
        display: flex;
    }

    &__search-text {

        font-size: 14px;
        letter-spacing: 0px;
        line-height: 32px;
        color: #a4a4a4;
        font-weight: 300;
        height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 0;
        padding: 0 18px 0;
    }

    &__search-button {
        height: 42px;
        border-radius: 0;
        border: 1px solid #e6e6e6;
        background: none;
        margin-left: -1px;
        background: #f6f6f6;
    }

    &__search-button:hover {
        background: none;
    }

    &__cart {
        margin-right: 30px;
    }

    &__my-account {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f16d7f;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    &__my-account:after {
        content: url(../img/top/myaccount-down.png);
        padding-left: 5px;
    }

    &__nav {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    &__line {
        border: 2px solid #e6e6e6;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 25px;
        font-size: 14px;
        line-height: 26px;
        color: #222222;
        font-weight: 700;
    }

    &__link:hover {
        background: #f6f6f6;
    }
}

.slider {
    background: #e8e8e8;
    margin-bottom: 100px;

    &__container {
        background-image: url(../img/top/slider_back.jpg);
        background-repeat: no-repeat;
        height: 600px;
        background-position: 50px -150px;
        display: flex;
        align-items: center;

    }

    &__text-group {
        display: flex;
        align-items: center;
        // justify-content: space-evenly;
    }

    &__text-group:before {
        content: "";
        width: 12px;
        height: 96px;
        background: #f16d7f;
        margin: 0 20px;
    }

    &__caption_big {
        font-size: 60px;
        letter-spacing: 2px;
        color: #222222;
        font-weight: 900;
        text-transform: uppercase;

    }

    &__caption_small {
        font-size: 40px;
        letter-spacing: 2px;
        color: #222222;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__caption_red {
        color: #f16d7f;
    }
}