@charset "UTF-8";
body {
  color: #636363;
}

.bradcrumb {
  height: 145px;
  background: #f8f3f4;
}
.bradcrumb__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.bradcrumb__short {
  font-size: 24px;
  color: #f16d7f;
  font-weight: 900;
  text-transform: uppercase;
}
.bradcrumb__full {
  color: #636363;
  font-weight: 300;
  text-transform: uppercase;
}

.products__container {
  display: flex;
  margin-top: 50px;
}
.products__sidebar {
  flex: 0 0 25%;
}
.products__sidebar-nav summary {
  text-transform: uppercase;
  color: #f16d7f;
  font-weight: 700;
  border-bottom: 1px solid #ebebeb;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.products__sidebar-nav summary::marker {
  display: none;
}
.products__sidebar-nav summary::-moz-details-marker {
  display: none;
}
.products__sidebar-nav summary::-webkit-details-marker {
  display: none;
}
.products__sidebar-nav summary:before {
  content: "";
  width: 5px;
  height: 40px;
  background-color: #f16d7f;
  margin-right: 10px;
}
.products__sidebar-nav summary:after {
  content: "▼";
  justify-self: end;
  margin-left: auto;
}
.products__sidebar-nav:focus {
  outline: none;
}
.products__sidebar-nav-items {
  display: flex;
  flex-direction: column;
}
.products__sidebar-nav-items :hover {
  font-weight: 700;
}
.products__sidebar-nav-link {
  color: #6f6e6e;
  padding: 10px;
  display: inline-block;
}
.products__group {
  flex: 1 0 75%;
  padding-top: 22px;
}
.products__filter {
  padding-left: 50px;
}
.products__filter__form {
  display: flex;
  justify-content: space-between;
}
.products__filter__card {
  flex: 0 0 30%;
  max-width: 30%;
}
.products__filter__card_left {
  flex: 0 0 25%;
  max-width: 25%;
}
.products__filter__header {
  color: #6f6e6e;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.products__filter__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products__filter__item {
  color: #6f6e6e;
  padding: 8px 0;
}
.products__filter__item_left:after {
  content: "";
  height: 100%;
  border-right: 2px solid #e8e8e8;
  padding-left: 15px;
}
.products__filter__item_left:nth-child(3n+1) {
  padding-left: 0;
}
.products__filter__item_left:nth-child(3n)::after {
  border-right: none;
}
.products__filter__item_center {
  width: 50px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.products__filter__item_center input {
  margin-right: 5px;
}
.products__filter__item_multiple {
  width: 100%;
}

.feature {
  background: #222224;
}
.feature__box {
  flex-direction: row;
  flex: 0 0 100%;
  height: 340px;
  align-items: center;
}
.feature__box-item {
  flex-direction: column;
  justify-content: center;
}
.feature__box_img {
  display: flex;
  justify-content: center;
}
.feature__box_header {
  margin: 10%;
}
.feature__box_caption {
  margin-bottom: 10px;
  text-align: center;
}
.feature__box_text {
  max-width: none;
  text-align: center;
}

.footer {
  margin-top: 0;
}/*# sourceMappingURL=style2.css.map */