body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}

.brand-link {
  display: flex;
  text-decoration: none;
}

.header__top {
  height: 50px;
  margin: 30px 0 30px;
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__brand {
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #222222;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 14px;
}
.header__brand_red {
  color: #f16d7f;
  font-weight: 500;
}
.header__search-group {
  display: flex;
}
.header__button-browse {
  background: #f6f6f6;
  height: 40px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #222222;
  font-weight: 300;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
}
.header__button-browse:after {
  content: url(../img/top/search_down.png);
  padding-left: 5px;
}
.header__search-form {
  margin-left: -1px;
  display: flex;
}
.header__search-text {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #a4a4a4;
  font-weight: 300;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  padding: 0 18px 0;
}
.header__search-button {
  height: 42px;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  background: none;
  margin-left: -1px;
  background: #f6f6f6;
}
.header__cart {
  margin-right: 30px;
}
.header__my-account {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f16d7f;
  padding: 10px 20px;
  box-sizing: border-box;
}
.header__my-account:after {
  content: url(../img/top/myaccount-down.png);
  padding-left: 5px;
}
.header__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.header__line {
  border: 1px solid #e6e6e6;
}
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  font-size: 14px;
  line-height: 26px;
  color: #222222;
  font-weight: 900;
}
.header__link:hover {
  background: #f6f6f6;
}

.slider {
  background: #e8e8e8;
  margin-bottom: 90px;
}
.slider__container {
  background-image: url(../img/top/slider_back.jpg);
  background-repeat: no-repeat;
  height: 600px;
  background-position: center -150px;
  display: flex;
  align-items: center;
}
.slider__text-group {
  display: flex;
  align-items: center;
}
.slider__text-group:before {
  content: "";
  width: 12px;
  height: 96px;
  background: #f16d7f;
  margin: 0 20px;
}
.slider__caption_big {
  font-size: 60px;
  letter-spacing: 2px;
  color: #222222;
  font-weight: 900;
  text-transform: uppercase;
}
.slider__caption_small {
  font-size: 40px;
  letter-spacing: 2px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
}
.slider__caption_red {
  color: #f16d7f;
}

.category__container {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  height: 800px;
}
.category__left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0.5%;
}
.category__left_top {
  background-image: url(../img/category/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 66.666%;
  width: 100%;
}
.category__left_bottom {
  background-image: url(../img/category/banner3.jpg);
  height: 33.333%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}
.category__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0.5%;
}
.category__right_top {
  background-image: url(../img/category/banner2.jpg);
  height: 33.333%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.category__right_bottom {
  background-image: url(../img/category/banner4.jpg);
  height: 66.666%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.category__item {
  position: relative;
  margin: 1% 0;
}
.category__item:hover .category__background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(33, 22, 22, 0.7);
}
.category__badge {
  position: absolute;
  top: 25px;
  left: 1px;
  background: #ffffff;
  padding: 16px;
}
.category__badge_top {
  font-size: 18px;
  letter-spacing: 0px;
  color: #222222;
  font-weight: 900;
  text-transform: uppercase;
}
.category__badge_bottom {
  font-size: 30px;
  letter-spacing: 0px;
  color: #f16d7f;
  font-weight: 900;
  text-transform: uppercase;
}

.product__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.product__caption {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 54px;
  color: #222222;
  font-weight: 700;
}
.product__desc {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0px;
  color: #9f9f9f;
  font-weight: 400;
  text-align: center;
}
.product__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__item {
  flex: 1 1 22%;
  min-width: 240px;
  position: relative;
  margin: 0.7%;
}
.product__link {
  display: inline-block;
  text-decoration: none;
}
.product__item_img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.product__item_caption {
  font-size: 13px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 16px;
}
.product__item_price {
  font-size: 16px;
  color: #f16d7f;
  font-weight: 700;
  margin: 20px 16px;
}
.product__item:hover > .product_item_img_dark {
  display: flex;
}
.product__item_img_dark {
  width: 100%;
  height: 260px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: rgba(33, 22, 22, 0.7);
  display: none;
}
.product__item:hover {
  box-sizing: border-box;
  border: 1px solid rgba(33, 22, 22, 0.7);
}
.product__item:hover > .product__item_img_dark {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__to-cart {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 14px;
  border: 1px solid #ffffff;
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
}
.product__to-cart:hover {
  background: #3a3838;
}
.product__to-cart::before {
  content: url(../img/product/add_to_cart.png);
  margin-right: 6px;
}
.product__button {
  display: flex;
  justify-content: center;
  margin: 60px 0 110px;
}
.product__button-link {
  text-decoration: none;
  padding: 0 20px;
  background: #f16d7f;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 54px;
  color: #ffffff;
  font-weight: 700;
}
.product__button-link:after {
  content: url(../img/product/button_aarow.png);
  margin-left: 6px;
}

.feature__container {
  display: flex;
  margin-bottom: 100px;
}
.feature__banner {
  position: relative;
  max-height: 530px;
  display: inline-block;
}
.feature__banner:hover .feature__shadow-picture {
  display: block;
}
.feature__main-picture {
  width: 100%;
  height: 100%;
}
.feature__shadow-picture {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.feature__header {
  position: absolute;
  z-index: 2;
  left: 24px;
  top: 140px;
  font-size: 54px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
.feature__header-red {
  color: #f16d7f;
}
.feature__header-text {
  font-size: 35px;
}
.feature__box {
  background: #222224;
  flex: 1 0 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feature__box-item {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
.feature__box-item:hover {
  box-sizing: border-box;
  background-color: #3a3838;
}
.feature__box_caption {
  font-size: 20px;
  letter-spacing: 1px;
  color: #fbfbfb;
  font-weight: 700;
  margin-bottom: 4%;
}
.feature__box_text {
  width: 236px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #fbfbfb;
  font-weight: 300;
}

.subscribe {
  background: linear-gradient(rgba(242, 242, 242, 0.5019607843), rgba(242, 242, 242, 0.5019607843)), url(../img/subscribe/back.jpg) center -50px no-repeat;
  background-size: cover;
}
.subscribe__container {
  display: flex;
  align-items: center;
  height: 440px;
  justify-content: space-evenly;
}
.subscribe__side {
  flex: 0 0 35%;
}
.subscribe__phrase-group {
  display: flex;
  position: relative;
  padding-left: 60px;
}
.subscribe__phrase-group:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: url(../img/subscribe/sub.png) no-repeat center -4px;
}
.subscribe__phrase-top {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #222224;
  font-weight: 400;
  font-style: italic;
}
.subscribe__phrase-author {
  margin-top: 3%;
  font-size: 16px;
  letter-spacing: 0px;
  color: #f16d7f;
  font-weight: 700;
}
.subscribe__phrase-sub {
  font-size: 12px;
  letter-spacing: 0px;
  color: #4b4949;
  font-weight: 400;
  margin-bottom: 10%;
}
.subscribe__line-group {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.subscribe__line {
  flex: 0 0 30%;
  height: 4px;
  background: #d6d6d6;
  display: inline-block;
}
.subscribe__line_selected {
  background: #f16d7f;
}
.subscribe__caption {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 48px;
  color: #222224;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.subscribe__form {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__subcaption {
  font-size: 16px;
  letter-spacing: 0px;
  color: #222224;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.subscribe__form_group {
  margin-top: 40px;
  width: 100%;
}
.subscribe__input {
  padding: 18px 20px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #222224;
  font-weight: 400;
  background: #e1e1e1;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 66%;
  box-sizing: border-box;
}
.subscribe__input:focus {
  outline: none;
}
.subscribe__button {
  padding: 18px 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  background: #f16d7f;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -3px;
  width: 30%;
  box-sizing: border-box;
}
.subscribe__button:focus {
  outline: none;
}

.footer {
  margin-top: 120px;
}
.footer__brand_container {
  display: flex;
}
.footer__brand_desc {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #898989;
  font-weight: 300;
  margin: 15px;
}
.footer__brand_nav {
  flex: 0 0 19%;
  display: flex;
  flex-direction: column;
}
.footer__brand_nav_start {
  flex: 0 0 35%;
  margin-right: 7%;
}
.footer__brand_item_cap {
  font-size: 18px;
  letter-spacing: 0px;
  color: #f16d7f;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}
.footer__brand_item {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 48px;
  color: #898989;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
}
.footer__copyright {
  margin-top: 90px;
  background: #e6e6e6;
  height: 80px;
}
.footer__copyright_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__left {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 42px;
  color: #7a7a7a;
  font-weight: 400;
}
.footer__social_group {
  display: flex;
}
.footer__social {
  background: #ffffff;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
.footer__social:hover {
  background: #f16d7f;
}/*# sourceMappingURL=style.css.map */