$color-red: #f16d7f;
$color-text-products:#636363;

body {
    color: $color-text-products;
}

.bradcrumb {
    height: 145px;
    background: #f8f3f4;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

    }

    &__short {
        font-size: 24px;
        color: $color-red;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__full {
        color: $color-text-products;
        font-weight: 300;
        text-transform: uppercase;
    }
}


.products {
    &__container {
        display: flex;
        margin-top: 50px;
    }

    &__sidebar {
        flex: 0 0 25%;

        &-nav {
            & summary {
                text-transform: uppercase;
                color: $color-red;
                font-weight: 700;
                border-bottom: 1px solid #ebebeb;
                margin: 10px 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &::marker {
                    display: none;
                }

                &::-moz-details-marker {
                    display: none;
                }

                &::-webkit-details-marker {
                    display: none;
                }


                &:before {
                    content: '';
                    width: 5px;
                    height: 40px;
                    background-color: $color-red;
                    margin-right: 10px;
                }

                &:after {
                    content: '\25BC';
                    justify-self: end;
                    margin-left: auto;
                }

            }

            &:focus {
                outline: none;
            }


            &-items {
                display: flex;
                flex-direction: column;

                :hover {
                    font-weight: 700;
                }
            }

            &-link {
                color: #6f6e6e;
                padding: 10px;
                display: inline-block;


            }
        }

    }

    &__group {
        flex: 1 0 75%;
        padding-top: 22px;
    }

    &__filter {
        padding-left: 50px;

        &__form {
            display: flex;
            justify-content: space-between;
        }

        &__card {
            flex: 0 0 30%;
            max-width: 30%;

            &_left {
                flex: 0 0 25%;
                max-width: 25%;

            }
        }

        &__header {
            color: #6f6e6e;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        &__body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            color: #6f6e6e;
            padding: 8px 0;

            &_left {
                // padding-left: 15px;


                &:after {
                    content: '';
                    height: 100%;
                    border-right: 2px solid #e8e8e8;
                    padding-left: 15px;
                }

                &:nth-child(3n+1) {
                    padding-left: 0;
                }

                &:nth-child(3n)::after {
                    border-right: none;
                }
            }

            &_center {
                width: 50px;
                display: flex;
                align-items: center;
                margin-right: 5px;

                & input {
                    margin-right: 5px;
                }
            }

            &_multiple {
                width: 100%;
            }



        }
    }

}

.feature {
    // width: 100%;
    background: #222224;

    &__box {
        // background: #222224;
        // flex: 0 0 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        flex-direction: row;
        flex: 0 0 100%;
        height: 340px;
        align-items: center;

        &-item {
            flex-direction: column;
            justify-content: center;

            // display: flex;
            // justify-content: space-evenly;
            // text-decoration: none;
        }

        // &-item:hover {
        //     box-sizing: border-box;
        //     background-color: #3a3838;
        // }
        &_img {
            display: flex;
            justify-content: center;
        }

        &_header {
            margin: 10%;
        }

        &_caption {
            // font-size: 20px;
            // letter-spacing: 1px;
            // // text-decoration: none;
            // color: #fbfbfb;
            // font-weight: 700;
            margin-bottom: 10px;
            text-align: center;

        }

        &_text {
            max-width: none;
            // font-size: 14px;
            // letter-spacing: 0px;
            // line-height: 24px;
            // color: #fbfbfb;
            // font-weight: 300;
            // text-decoration: none;
            text-align: center;
        }
    }
}

.footer {
    margin-top: 0;
}