body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.brand-link {
  display: flex;
  text-decoration: none;
}

.header__top {
  height: 50px;
  margin: 30px 0 30px;
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__brand {
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #222222;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 14px;
}
.header__brand_red {
  color: #f16d7f;
  font-weight: 500;
}
.header__search-group {
  display: flex;
}
.header__button-browse {
  background: #f6f6f6;
  height: 40px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #222222;
  font-weight: 300;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
}
.header__button-browse:after {
  content: url(../img/top/search_down.png);
  padding-left: 5px;
}
.header__search-form {
  margin-left: -1px;
  display: flex;
}
.header__search-text {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #a4a4a4;
  font-weight: 300;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  padding: 0 18px 0;
}
.header__search-button {
  height: 42px;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  background: none;
  margin-left: -1px;
  background: #f6f6f6;
}
.header__cart {
  margin-right: 30px;
}
.header__my-account {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f16d7f;
  padding: 10px 20px;
  box-sizing: border-box;
}
.header__my-account:after {
  content: url(../img/top/myaccount-down.png);
  padding-left: 5px;
}
.header__nav {
  list-style: none;
  display: flex;
  justify-content: center;
}
.header__line {
  border: 1px solid #e6e6e6;
}
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 25px;
  font-size: 14px;
  line-height: 26px;
  color: #222222;
  font-weight: 900;
}
.header__link:hover {
  background: #f6f6f6;
}

.slider {
  background: #e8e8e8;
  margin-bottom: 90px;
}
.slider__container {
  background-image: url(../img/top/slider_back.jpg);
  background-repeat: no-repeat;
  height: 600px;
  background-position: center -150px;
  display: flex;
  align-items: center;
}
.slider__text-group {
  display: flex;
  align-items: center;
}
.slider__text-group:before {
  content: "";
  width: 12px;
  height: 96px;
  background: #f16d7f;
  margin: 0 20px;
}
.slider__caption_big {
  font-size: 60px;
  letter-spacing: 2px;
  color: #222222;
  font-weight: 900;
  text-transform: uppercase;
}
.slider__caption_small {
  font-size: 40px;
  letter-spacing: 2px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
}
.slider__caption_red {
  color: #f16d7f;
}

.category__container {
  display: flex;
  margin-bottom: 100px;
  height: 800px;
}
.category__left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.category__left_top {
  background-image: url(../img/category/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: cover;
  height: 66.666%;
  width: 100%;
}
.category__left_bottom {
  background-image: url(../img/category/banner3.jpg);
  height: 33.33%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}
.category__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.category__right_top {
  background-image: url(../img/category/banner2.jpg);
  height: 33.333%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center -40px;
  background-size: cover;
}
.category__right_bottom {
  background-image: url(../img/category/banner4.jpg);
  height: 66.666%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.category__item {
  position: relative;
  margin: 10px;
}
.category__item:hover .category__background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(33, 22, 22, 0.7);
}
.category__badge {
  position: absolute;
  top: 25px;
  left: 1px;
  background: #ffffff;
  padding: 16px;
}
.category__badge_top {
  font-size: 18px;
  letter-spacing: 0px;
  color: #222222;
  font-weight: 900;
  text-transform: uppercase;
}
.category__badge_bottom {
  font-size: 30px;
  letter-spacing: 0px;
  color: #f16d7f;
  font-weight: 900;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */